html {
    font-size: 62.5%;
 }

 :root {
    --black: #000000;
    --white: #ffffff;
    --red: #ed1c24;
    --grey: #1d1d1d;
 }

@font-face {
    font-family: inter;
    src: url(Assets/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: apercu;
    src: url(Assets/fonts/Apercu/Apercu\ regular.otf);
}

@font-face {
    font-family: futurak;
    src: url(Assets/fonts/futurak/futurak.ttf);
}

body {
    font-family:inter;
}

/* navbar started  */

.main-logo {
    width: 165px;
}

nav > a {
    font-size: 1.8rem;
}

nav > button {
    font-size: 1.5rem
}

.franchise-btn {
  border: 1px solid var(--white);  
  background-color: transparent;
  color: var(--white);
  padding: 15px 20px;
  border-radius: 30px;
}

.order-btn {
    border: 0px;
    background-color: var(--red);
    color: var(--white);
    padding: 15px 20px;
    border-radius: 30px;
}

/* nav bar ended */

/* carousel started */

.carousel {
    width: 100%;
}
/* carousel ended */

/* our brands started */

.our-brands {
    font-size: 1.5rem;
    font-family: apercu;
    font-weight: lighter;
    margin: 30px 0px 0px 0px;
}

.futurak {
    font-family: futurak;
    font-size: 5rem;
}

.our-brands > .para {
    font-size: 1.3rem;
    color: #ffffffB3;
    margin: 15px;
}

.brand-image {
    background-color: var(--white);
    border-radius: 10px;
    padding: 10px;
}

.brand-online-btn {
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 20px;
    padding: 10px 45px;
    color: var(--white);
}